.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  justify-content: center;
  padding: 96px 24px 91px 24px;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-self: start;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 27px 35px 30px 23px;
  line-height: 2;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  text-align: center;
}

.header__logo-image {
  width: 129px;
  height: 105;
}

.address {
  width: 240px;
  font-style: normal;
  flex-direction: column;
  justify-self: flex-end;
  line-height: 1.4;
  font-size: 18px;
}

.address a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: inline-block;
  width: fit-content;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 179px;
  margin-top: 0;
  z-index: 0;
}

.cover::before {
content: "";
position: absolute;
inset: 0;
background-color:rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 30px;
  padding: 167px 20px 0 50px;
}

.aligned-text_left {
  align-self: flex-start;
  margin-left: 50px;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
  margin-right: 50px;
}

.cover__description {
  display: flex;
  justify-content: first baseline;
  align-items:center;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  margin-bottom: 62px;
  margin-left: 78px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 18.3px;
  line-height: 28px;
  width: 637px;
}

.bet-button {
  padding: 14px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background: transparent;
  margin-left: 77px;
  margin-bottom: 51px;
  border: 1px #fff solid;
  cursor: pointer;
}

.bet-button:hover {
  color: #000;
  background-color: #fff;
}

.lots {
  margin: 179px 24px 150px 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 47px;
  padding: 0 0 28px 40px;
}

.lots__card-list {
  list-style: none;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
}

.card {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 51px 40px 48px 40px;
  min-height: 334px;
  background-size: cover;
  background-position: center;
  min-height: 563px;
  overflow: hidden;
}

.card .overlay {
position: absolute;
inset: 0;
background-color: rgba(0, 0, 0, 0.6);
z-index: 1;

}
.card-link {
  text-decoration: none;
}
.card_type_photo {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 10px 40px;
  text-decoration: underline;
  color: #000;
}

.about {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto;
  gap: 40px;
  margin: 147px 24px 160px 24px;
  padding-top: 20px;
  padding-left: 47px;
  align-items: start;
}

.about__logo {
  display: flex;
  justify-content: center;
  background-color: #000;
  background-position: center;
  border-radius: 50%;
  margin-top: 62px;
  min-width: 240px;
  min-height: 240px;
}

.about__logo-image {
  width: 142px;
  height: 113px;
  align-self: center;
  justify-self: center;
}

.about__title {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  margin-top: 164px;
  margin-left: 25px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}


.about__text {
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 24px;
  margin-left: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 88px 30px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  align-items: center;
}

.footer__address {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  font-size: 18px;
}

.footer__menu {
  text-align: center;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  gap: 46px;
  list-style: none;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}